html,
body {
	padding: 0px;
	margin: 0px;
	height: 100%;
	width: 100%;
	font-family: "Times New Roman", Times, serif;
}

.header {
	background-color: #1d1d1c;
	color: rgb(223, 219, 219);
	font-size: 20px;
}

.header-container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 75px;
}

.header-item {
	padding: 10px;
	margin: 5px;
	cursor: pointer;
}

.logo {
	display: flex;
	align-items: center;
	font-size: 30px;
	margin-right: 37px;
}

.logo img {
	height: 50px;
}

.slider-images {
	background-image: url("../img/slider1.jpg");
	background-size: cover;
	height: 700px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.container-content-slider {
	height: 350px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;

	padding-left: 100px;
}

.container-content-slider h1 {
	font-size: 60px;
	font-weight: 700;
	margin: 0px;
	margin-bottom: 30px;
	padding: 0px;
	background: linear-gradient(to right, #000000 0%, #330867 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.container-content-slider p {
	font-size: 30px;
	margin: 0px;
	margin-bottom: 27px;
	padding: 0px;
}

.container-content-slider button {
	border-radius: 30px;
	outline: none;
	border: none;
	background-color: #373234;
	color: aliceblue;
	font-size: 20px;
	width: 200px;
	height: 50px;
}

.services {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 50px;
	background-color: rgb(255, 255, 255);
	text-align: center;
}

.services button {
	border-radius: 30px;
	outline: none;
	border: none;
	background-color: #373234;
	color: aliceblue;
	font-size: 17px;
	width: 150px;
	height: 50px;
}

.services h2 {
	font-size: 47px;
	font-weight: normal;
	margin-bottom: 17px;
}

.services p {
	width: 600px;
}

.services-items {
	display: flex;
	align-items: center;
	justify-content: center;
}

.services ul {
	text-align: start;
}

.services ul li {
	background-color: #f1f8fa;
	margin: 3px;
	padding: 10px;
	list-style-type: none;
}

.services ul li::before {
	content: "✓";
	padding-right: 10px;
}

.person-sec {
	height: 750px;
	color: white;
	background-color: #1d1d1c;
	display: flex;
	justify-content: center;
}

.div-person-img img {
	height: 630px;
}

.div-preson-desc {
	width: 530px;
	padding-top: 70px;
	padding-left: 100px;
	display: flex;
	justify-content: center;
}

.div-preson-desc div h2 {
	font-size: 57px;
	margin-bottom: 10px;
}

.div-preson-desc div h3 {
	font-size: 30px;
}

.div-preson-desc div p {
	color: rgb(134, 131, 131);
	font-size: 20px;
}

.benefits {
	height: 700px;
}
