html,
body {
	padding: 0px;
	margin: 0px;
	height: 100%;
	width: 100%;
	font-family: "Times New Roman", Times, serif;
}

.header {
	background-color: #1d1d1c;
	color: rgb(223, 219, 219);
	font-size: 20px;
}

.header-container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 75px;
}

.header-item {
	padding: 10px;
	margin: 5px;
	cursor: pointer;
}

.logo {
	display: flex;
	align-items: center;
	font-size: 30px;
	margin-right: 37px;
}

.logo img {
	height: 50px;
}

.slider-images {
	background-image: url("../img/slider_1.jpg");
	height: 700px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	scroll-behavior: smooth;
}

.container-content-slider {
	height: 350px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	padding-left: 100px;
}

.container-content-slider h1 {
	font-size: 69px;
	font-weight: 700;
	margin: 0px;
	margin-bottom: 30px;
	padding: 0px;
	background: linear-gradient(to right, #000000 30%, #6b6565 50%, #e5d5d6 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.container-content-slider p {
	font-size: 30px;
	margin: 0px;
	margin-bottom: 27px;
	padding: 0px;
}

.container-content-slider button {
	border-radius: 30px;
	outline: none;
	border: none;
	background-color: #373234;
	color: aliceblue;
	font-size: 20px;
	width: 200px;
	height: 50px;
}

.services {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 50px;
	background-color: rgb(255, 255, 255);
	text-align: center;
}

.services button {
	border-radius: 30px;
	outline: none;
	border: none;
	background-color: #373234;
	color: aliceblue;
	font-size: 17px;
	width: 150px;
	height: 50px;
}

.services h2 {
	font-size: 47px;
	font-weight: normal;
	margin-bottom: 17px;
}

.services p {
	width: 600px;
}

.services-items {
	display: flex;
	align-items: center;
	justify-content: center;
}

.services ul {
	text-align: start;
}

.services ul li {
	background-color: #f1f8fa;
	margin: 3px;
	padding: 10px;
	list-style-type: none;
}

.services ul li::before {
	content: "✓";
	padding-right: 10px;
}

.person-sec {
	height: 750px;
	color: white;
	background-color: #1d1d1c;
	display: flex;
	justify-content: center;
}

.div-person-img img {
	height: 630px;
}

.div-preson-desc {
	width: 530px;
	padding-top: 70px;
	padding-left: 100px;
	display: flex;
	justify-content: center;
}

.div-preson-desc div h2 {
	font-size: 57px;
	margin-bottom: 10px;
}

.div-preson-desc div h3 {
	font-size: 30px;
}

.div-preson-desc div p {
	color: rgb(134, 131, 131);
	font-size: 20px;
}

.benefits {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 50px;
	background-color: rgb(255, 255, 255);
	text-align: justify;
	overflow: hidden;
}

.benefits h2 {
	font-size: 47px;
	font-weight: normal;
	margin-bottom: 17px;
}

.benefits p {
	margin-bottom: 53px;
}

/* carousel benefits */
.swiper-container {
	width: 100%;
	height: 100%;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;

	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

:root {
	--swiper-navigation-size: 10px;
}

.carousel-item {
	width: 200px;
}

.container-btn {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.btn-carousel {
	position: relative;
	height: 50px;
	width: 50px;
	margin-right: 15px;
	margin-left: 15px;
	border-radius: 50%;
	outline: none;
	border: none;
	cursor: pointer;
	color: white;
	background-color: rgb(226, 148, 148);
}

.btn-carousel:hover {
	background-color: rgb(34, 33, 33);
	color: white;
}

.benefits-carousel-img {
	height: 200px;
	width: 200px;
	border-radius: 50%;
}
